

.Navbar {
    background-color: #325a95; /* Цвет фона Telegram */
    color: #f6f7f9; /* Цвет текста */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Navbar__logo {
    font-family: "Courier New", monospace;
    font-size: 1.5rem;
    color: #f6f7f9;
}

.Navbar__menu {
    display: flex;
    gap: 10px;
}

.Navbar__link {
    color: #f6f7f9;
    text-decoration: none;
}

.Navbar__toggle {
    display: none; /* Скрыть на больших экранах */
}

.Navbar button {
    margin-right: 20px;
    padding: 10px 20px;
    border: 0;
    border-radius: 10px;
    color: #f6f7f9;
    background: 0;
    font-size: 32px;
}

.Navbar a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}

.Navbar a {
    font-size: 35px;
    color: #f6f7f9;
}
.Navbar a:hover {
    font-size: 38px;
}
@media screen and (max-width: 780px) {
    .Navbar__menu {
        display: none; /* Скрыть меню на мобильных */
    }

    .Navbar__toggle {
        display: block; /* Показать кнопку меню на мобильных */
    }

    .Navbar__menu.open {
        display: block; /* Показать меню при открытии */
    }
}
